@font-face {
    font-family: 'Poppins-BoldItalic';
    src: url(fonts/Poppins-BoldItalic.ttf);
}
@font-face {
    font-family: 'Poppins';
    src: url(fonts/Poppins.ttf);
}
@font-face {
    font-family: 'Ramsina';
    src: url(fonts/Ramsina.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
    color: #fff;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #12479d, #0F172A);
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background: #1E293B;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.todo-app h2{
    font-family: 'Poppins-BoldItalic';
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    margin-bottom: 20px;
    width: 100%;
}

.todo-app h2 img {
    width: 36px;
    margin-left: 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #334155;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    overflow: hidden;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 14px 10px;
    color: #fff;
    min-width:0;
    font-size: 16px;
}

button{
    border: none;
    outline: none;
    padding: 16px 30px;
    background: #EC4899;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    border-radius: 30px;
    flex-shrink: 0;
}

#input-box::placeholder {
    color: #bbc1cb;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 13px;
    left: 12px;
}

ul li.checked{
    color: #bbc1cb9b;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(images/checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 4px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: #bbc1cb;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #3e495c;
}


.createdby{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 25px;
    width: 100%;
    position: relative;
    padding-bottom: 15px;
}
.createdby::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60%; 
    height: 1px;
    background: linear-gradient(to right, transparent, rgba(235, 255, 252, 0.5), transparent);

}
.createdby img {
    width: 36px;
    height: auto;
}

.createdby p {
    font-family: 'Ramsina', sans-serif !important;
    font-size: 24px;
    color: #ffffff;
    margin: 0;
    line-height: 1.2;
}
